<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation is translating complex technologies from the research bench to the clinical bedside.">
  <meta name="keywords" content="National Center for Collaborative Healthcare Innovation, NCCHI">
  <title>VHA - National Centers for Collaborative Healthcare Innovation</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body class="ncchi-home style-ncchi">

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
   
      {% include "dark-header.html" %}

    <main>
      
      {% include "ncchi/masthead.html" %}

      {% include "ncchi/mission-statement.html" %}

      {% include "ncchi/sensor-technology.html" %}

      {% include "ncchi/digital-twin.html" %}

      {% include "ncchi/expertise-demand.html" %}

      {% include "ncchi/advanced-analytics.html" %}
      
      {% include "ncchi/virtual-teleportation.html" %}

      {% include "ncchi/emergent-response.html" %}

      {% include "ncchi/publications.html" %}

      {% include "ncchi/our-team.html" %}    

      {% include "ncchi/awards.html" %}

    </main>

    {% include "footer-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../assets/uswds/js/uswds.min.js"></script>
    <script src="../assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/vendors/parallax-scroll/jquery.parallax-scroll.js"></script>
    <script src="../assets/js/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/js/functions.js"></script>

</body>
</html>