<!-- drhci Mission - START -->
<section id="drhci-mission">
    <div class="grid-container">
        <div class="grid-row flex-justify-center tablet:padding-y-7 tablet-lg:padding-y-15">
            <div class="mission-text grid-col-12 tablet-lg:grid-col-10">
                <h1 class="font-sans-9 tablet-lg:font-sans-12 margin-bottom-3 desktop:margin-bottom-5">Our Mission</h1>
                <p class="margin-top-0 margin-bottom-2">At the Digital and Remote Health Center for Innovation, our mission is to pioneer a new era of health care by leveraging digital technologies and remote solutions. We are committed to providing Veterans with seamless access to high-quality care, breaking down geographical barriers, and enhancing their overall well-being. Through collaboration, research, and innovation, we aim to create a health care landscape where every Veteran receives personalized, accessible, and cutting-edge health care services.</p>
            </div>
        </div>
    </div>
</section>
<!-- drhci Mission - END -->