<!-- DIRECTOR FEATURE - START -->
<section id="director" class="director padding-y-7 tablet-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="tablet-lg:grid-col-4 padding-top-4 padding-bottom-2 desktop:padding-y-0 tablet-lg:order-1 mobile:order-2 text-center">
                <div class="director__img">
                    <div class="director__img-container">
                        <img src="../assets/img/drhci/lindsay-reigler.jpg" class="img-fluid radius-lg" alt="Headshot of Lindsay Reigler" />
                    </div>
                </div>
            </div>
            <div class="director__content tablet-lg:grid-col-7 desktop-lg:grid-col-7 widescreen:grid-col-7 tablet-lg:grid-offset-1 tablet-lg:order-2 mobile:order-1">
                <h2 class="font-sans-xs tablet-lg:font-sans-9">Director of Digital and Remote Health Center for Innovation</h2>
                <h3 class="font-sans-9 tablet-lg:font-sans-12 margin-top-1">Lindsay R. James Riegler, Ph.D.</h3>
                <p>
                    Lindsay R. James Riegler, Ph.D., is a distinguished health care innovation champion based at the Cincinnati VA Medical Center. Dr. Riegler serves as the Director of Veterans Health Administration’s Digital & Remote Health Center for Innovation (DRHCI), where she is working to establish Remote Patient Monitoring policy and implementing solutions for VHA. She is an advisory board member of Massachusetts Institute of Technology Catalyst, a collaborative initiative sparking innovative and impactful solutions to unmet medical and health care needs.
                </p>
                <p>
                    With 17 years of expertise as a certified brain injury specialist, Dr. Riegler has been instrumental at using digital and remote health techniques to deliver evidence-based cognitive rehabilitation to Veterans with traumatic brain injury. Her commitment to advancing health care is evident through her impressive record, which includes numerous professional speaking engagements, 15 grant-funded projects, multiple peer-reviewed publications, and co-authorship of two book-chapters.
                </p>
                
                <p>
                    Dr. Riegler's dedication to innovation has resulted in multiple awards and recognition, including the Innovation Award from ACT-IAC and the Disruptive Tech Award for Programs Shifting the Landscape, a Federal 100 Award, and a Service to the Citizen Award. As a 2022 VHA Innovation Ecosystem Entrepreneur in Residence, she fostered collaborations across program offices to promote remote patient monitoring solutions, transitioning Veteran care to a proactive preventative model. Dr. Riegler’s impact extends from academia to professional leadership roles, showcasing her commitment to advancing health care innovation and access.
                </p>
                
            </div>           
        </div>
    </div>
</section>
<!-- DIRECTOR FEATURE - END -->