<section id="masthead" class="masthead">
    <div class="masthead__content-wrapper">
        <div class="grid-container">
            <div class="grid-row grid-gap flex-align-center">
                <div class="tablet:grid-col-6 mobile:padding-top-6 desktop:padding-top-0 tablet-lg:order-1 mobile:order-2">
                    <div class="masthead__img">
                        <div class="masthead__img-container">
                            <picture>
                                <source media="(max-width:639px)" srcset="assets/img/nci2i/bubble-lines-sm.svg">
                                <source media="(min-width:640px)" srcset="assets/img/nci2i/bubble-lines.svg">
                                <img class="position-absolute circle-lines" src="assets/img/nci2i/bubble-lines.svg" alt="Circle lines background">
                              </picture>
                            <img src="assets/img/nci2i/masthead-img.jpg" class="img-fluid radius-lg" alt="A man sitting using a tablet" />
                        </div>

                        <!-- <div class="mission__logo-stroke logo-stroke-1 display-none desktop:display-block" data-parallax='{"x": 100 }'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="557" height="561" viewBox="0 0 557 561" fill="none">
                                <path d="M553.046 273.131L553.048 273.141C554.974 283.339 556 293.463 556 303.388C555.968 344.151 534.49 384.141 500.252 420.024C466.025 455.896 419.131 487.569 368.496 511.677C317.863 535.784 263.54 552.301 214.481 557.9C165.389 563.503 121.73 558.155 92.2756 538.728L91.725 539.563L92.2752 538.728C62.7993 519.302 39.603 482.369 23.9644 436.44C8.33441 390.536 0.298949 335.775 1.048 280.868C1.79706 225.959 11.3303 170.957 30.7943 124.559C50.2591 78.1595 79.6237 40.4348 119.999 19.9424L119.546 19.0507L119.999 19.9424C190.695 -15.9422 282.973 2.32463 364.571 48.203C446.147 94.0691 516.727 167.361 543.991 241.001L544.012 241.057L544.04 241.111C547.519 247.872 550.146 256.778 553.046 273.131Z" stroke="#E87524" stroke-width="2"/>
                              </svg>
                        </div>
                        <div class="mission__logo-stroke logo-stroke-2 display-none desktop:display-block" data-parallax='{"x": -100 }'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="557" height="561" viewBox="0 0 557 561" fill="none">
                                <path d="M553.046 273.131L553.048 273.141C554.974 283.339 556 293.463 556 303.388C555.968 344.151 534.49 384.141 500.252 420.024C466.025 455.896 419.131 487.569 368.496 511.677C317.863 535.784 263.54 552.301 214.481 557.9C165.389 563.503 121.73 558.155 92.2756 538.728L91.725 539.563L92.2752 538.728C62.7993 519.302 39.603 482.369 23.9644 436.44C8.33441 390.536 0.298949 335.775 1.048 280.868C1.79706 225.959 11.3303 170.957 30.7943 124.559C50.2591 78.1595 79.6237 40.4348 119.999 19.9424L119.546 19.0507L119.999 19.9424C190.695 -15.9422 282.973 2.32463 364.571 48.203C446.147 94.0691 516.727 167.361 543.991 241.001L544.012 241.057L544.04 241.111C547.519 247.872 550.146 256.778 553.046 273.131Z" stroke="#CA3733" stroke-width="2"/>
                            </svg>
                        </div> -->

                    </div>
                </div>
                <div class="masthead__content tablet:grid-col-5 desktop-lg:grid-offset-1 tablet:order-2 mobile:order-1">
                    <div class="masthead__logo">
                        <img src="assets/img/nci2i/vha-nci2i-logo.svg" alt="VHA Nation Centers for Innovation to Impact logo" />
                    </div>
                    <h2 class="display-none desktop:display-block">Revolutionizing Health Care Beyond Boundaries</h2>
                    <h2 class="h4 display-block desktop:display-none padding-y-2 tablet:padding-y-0">Revolutionizing Health Care Beyond Boundaries</h2>
                    <a href="" class="usa-button button-vha">Explore Innovations</a>
                </div>           
            </div>
        </div>       
    </div>
    <div class="masthead__angles-wrapper">
        <div class="masthead__angles">
            <div class="angle-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 956 724" width="956" height="724" fill="none" preserveAspectRatio="xMidYMax meet" role="presentation"><path fill="url(#a)" d="M194.754 724H0L687.966 0H956L268.029 724h-73.275Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="1288.42" x2="311.378" y1="-1365.87" y2="498.945" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
            </div>
            <div class="angle-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1457 724" width="1457" height="725" fill="none" preserveAspectRatio="xMidYMax meet" role="presentation"><path fill="url(#a)" d="M477.301 725.001H0l684.13-725L873.301 0h582.969L767.301 725.002h-290Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="-669.887" x2="-2061.82" y1="-3602.61" y2="192.189" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
            </div>
            <div class="angle-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1446 724" width="1446" height="723" fill="none" preserveAspectRatio="xMidYMax meet" role="presentation"><path fill="url(#a)" d="M625.945 722.5H0L681.77 0h763.61L763.609 722.5H625.945Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="254.9" x2="-1216.89" y1="-3529.43" y2="540.104" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
            </div>                
        </div>
    </div>
    <div class="masthead__border">
        <div class="block block-color-1"></div>
        <div class="block block-color-2"></div>
    </div>     
</section>