<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="The National Center for Innovation 2 Impact Collaborating Across Industries to Improve Veteran Health Care">
  <meta name="keywords" content="National Center for Innovation to Impact, NCI2I">
  <title>VHA - The National Center for Innovation 2 Impact</title>  

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets/uswds/js/uswds-init.min.js"></script>
</head>

<body id="nci2i-body">

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      
      {% include "header.html" %}
      
        <main>
            {% include "nci2i/1_masthead.html" %}

            {% include "nci2i/2_mission.html" %}
          
            {% include "nci2i/3_news.html" %}

            {% include "nci2i/4_director.html" %}

            {% include "nci2i/5_connect.html" %}
        </main>

      {% include "footer.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="assets/uswds/js/uswds.min.js"></script>
    <script src="assets/js/functions.js"></script>

</body>
</html>