@use "uswds-core" as *;

.national-centers {
        background: #FEF6F1;
    .usa-card__container {
        color: #000;
        // background-color: #fff;
        background: #FEF6F1;
        border: none;
    }

    .usa-card__header {
        padding: 0;

        @include at-media(mobile) {
            display: none;
        }

        @include at-media(mobile-lg) {
            display: none;
        }

        @include at-media(tablet) {
            display: none;
        }

        @include at-media(tablet-lg) {
            display: contents;
        }

        @include at-media(desktop) {
            display: contents;
        }    

        @include at-media(desktop-lg) {
            display: contents;
        }

        @include at-media(widescreen) {
            display: contents;
        }
    }

    .usa-card__body {

        .usa-button {
            background: #D83933;
            // color: #fff;
        }

        @include at-media(mobile) {
            padding: .5rem 0;
        }

        @include at-media(mobile-lg) {
            padding: .5rem 0;
        }

        @include at-media(tablet) {
            padding: .5rem 0;
        }

        @include at-media(tablet-lg) {
            padding: .5rem 1.5rem;
        }

        @include at-media(desktop) {
            padding: .5rem 1.5rem;
        }    

        @include at-media(desktop-lg) {
            padding: .5rem 1.5rem;
        }

        @include at-media(widescreen) {
            padding: .5rem 1.5rem;
        }
    }
}