<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation is translating complex technologies from the research bench to the clinical bedside.">
  <meta name="keywords" content="National Center for Collaborative Healthcare Innovation, NCCHI">
  <title>VHA - National Centers for Collaborative Healthcare Innovation</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/styles.css">

  <link id="favicon" rel="shortcut icon" href="../../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body class="ncchi-interior style-ncchi">

    <div class="site-wrapper">
    <div class="usa-overlay"></div>

    {% include "dark-header-sub.html" %}
    
    <main>

      <!-- PAGE TITLE - START -->
      <section id="page-title" class="page-title mobile:padding-y-4 tablet:padding-y-6 desktop-lg:padding-y-8">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-row flex-align-center">
            <div class="tablet-lg:grid-col-6 page-title__logo">
              <img src="../../assets/img/logo.svg" alt="National Center for Collaborative Healthcare Innovation logo image" />
            </div>
            <div class="tablet-lg:grid-col-6 page-title__content">
              <h1 class="tablet-lg:margin-0">Our Publications</h1>
            </div>
          </div>
        </div>      
      </section>    
      <!-- PAGE TITLE - END -->

      <!-- PAGE TITLE - START -->
      <section id="publication-list" class="publication-list mobile:padding-y-4 tablet:padding-y-6 desktop-lg:padding-y-8">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-row flex-align-top">
            
            <div class="tablet-lg:grid-col-3 mobile:grid-col-12 tablet:padding-y-2 desktop-lg:padding-y-0 col1">

              <!-- textbox filter control w/ clear button-->
              <div>
                <section aria-label="Search component">
                  <form class="usa-search" role="search">
                    <label class="usa-sr-only" for="search-field">Search</label>
                    <input 
                      class="usa-searchbox__input" 
                      type="text"
                      data-jplist-control="textbox-filter"
                      data-group="group1"
                      data-name="my-filter-1"
                      data-path=".item__title"
                      data-clear-btn-id="category-clear-btn"
                      value=""
                      placeholder="Search by keyword..."
                    />
                    <button class="usa-button usa-button--secondary" type="button" id="category-clear-btn">
                      <span class="usa-search__submit-text">Clear </span>
                    </button>
                  </form>
                </section>

              </div>

              <!-- checkbox text filter control -->
              <h2 class="filter--checkboxes-header h4">Filter by type</h2>
              
              <label class="container usa-checkbox__label">
                <input
                  class="usa-checkbox__input"
                  type="checkbox"
                  data-jplist-control="checkbox-text-filter"
                  data-path=".item__category"
                  data-group="group1"
                  data-name="item__category1"
                  value="Article" />
                Article
                
              </label>

              <br />

              <label class="container usa-checkbox__label">
                <input
                  class="usa-checkbox__input"
                  type="checkbox"
                  data-jplist-control="checkbox-text-filter"
                  data-path=".item__category"
                  data-group="group1"
                  data-name="item__category2"
                  value="Interview" />
                Interview
              </label>

              <br />

              <label class="container usa-checkbox__label">
                <input
                  class="usa-checkbox__input"
                  type="checkbox"
                  data-jplist-control="checkbox-text-filter"
                  data-path=".item__category"
                  data-group="group1"
                  data-name="item__category3"
                  value="News/Panel" />
                News/Panel
              </label>

              <br />

              <label class="container usa-checkbox__label">
                <input
                  class="usa-checkbox__input"
                  type="checkbox"
                  data-jplist-control="checkbox-text-filter"
                  data-path=".item__category"
                  data-group="group1"
                  data-name="item__category4"
                  value="Press Release" />
                Press Release
              </label>

              <br />

              <label class="container usa-checkbox__label">
                <input
                  class="usa-checkbox__input"
                  type="checkbox"
                  data-jplist-control="checkbox-text-filter"
                  data-path=".item__category"
                  data-group="group1"
                  data-name="item__category5"
                  value="Publication" />
                Publication
              </label>
            
            </div>

            <div class="tablet-lg:grid-col-9 mobile:grid-col-12 col2">

              <!-- content to filter -->
              <div class="publication-list__item-container" data-jplist-group="group1">

                <!-- no results control -->               
                <div class="no-result-found" data-jplist-control="no-results" data-group="group1" data-name="no-results">No Results Found</div>

              </div> 

            </div>

          </div>
        </div>      
      </section>
      <!-- PAGE TITLE - END -->      

    </main>

    {% include "dark-footer-sub.html" %}

    <script src="../../assets/uswds/js/uswds.min.js"></script>
    <script src="../../assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../../assets/js/vendors/parallax-scroll/jquery.parallax-scroll.js"></script>
    <script src="../../assets/js/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../assets/js/vendors/jplist/jplist.min.js"></script>
    <script src="../../assets/js/ncchi-publications.js"></script>
    <script src="../../assets/js/functions.js"></script>

</body>
</html>