<section id="drhci-mission">
    <div class="grid-container">
        <div class="grid-row flex-justify-center tablet:padding-y-7 tablet-lg:padding-y-15">
            <div class="mission-text grid-col-12 tablet-lg:grid-col-8">
                <h1 class="font-sans-9 tablet-lg:font-sans-12 margin-bottom-3 desktop:margin-bottom-3">Our Mission</h1>
                <p class="margin-top-0 margin-bottom-2">
                Located in New England and strategically aligned with VA New England Healthcare System (VISN 1), the New England Center for Innovation Excellence (NECIE) collaborates with industry, academia, and government to advance health care for Veterans.
                </p>

                <p>
                Testing and implementing cutting edge technologies to address chronic and complex injuries are a primary focus for NECIE, as are enhancing rural access to quality care and developing tailored health solutions for aging Veterans. Through these innovative efforts, NECIE aims to optimize health care processes, improve outcomes, and enhance experience for Veterans across the VA health care&nbsp;system.</p>
            </div>
        </div>
    </div>
</section>
