<section id="director" class="director padding-y-7 tablet-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-start">
            <div class="director__content tablet-lg:grid-col-7 desktop-lg:grid-col-7 widescreen:grid-col-7 tablet-lg tablet-lg:order-1 mobile:order-1">
                <h2 class="font-sans-xs tablet-lg:font-sans-9 margin-top-0">Director, VA New England Center for Innovation Excellence (NECIE)</h2>
                <h3 class="font-sans-9 tablet-lg:font-sans-12 margin-top-1">Leandro DaSilva</h3>
                <p>
                    Leandro DaSilva joined VA New England Healthcare System in 2011. Mr. DaSilva served in the U.S. Navy from 1999 to 2006, onboard the USS Kitty-Hawk (CV-63) home based in Yokosuka, Japan and at the Naval Pacific Meteorology and Oceanography Facility (NPMOF) in Whidbey Island, WA, where he earned his BS in Business Administration with a major in International Business and an MBA with an emphasis in Global Management. After Honorable Discharge from the U.S. Navy, Leandro worked at UnitedHealth Technologies as a program manager for mergers and acquisitions and integrated technologies solutions. He joined VA in 2011 as a member of VISN 1 Network Office, as a project manager for VISN 1 Quality Manager Office, and in November 2017 became a member of VISN 1 Clinical Informatics team. In 2020 Mr. DaSilva helped launch VA New England Center for Innovation Excellence (NECIE) as part of VHA Innovation Ecosystem.
                </p>
            </div>
            <div class="tablet-lg:grid-col-4 padding-top-4 padding-bottom-2 desktop:padding-y-0 tablet-lg:grid-offset-1 mobile:order-2 text-center">
                <div class="director__img">
                    <div class="director__img-container">
                        <img src="../assets/img/necie/leandro_dasilva.jpg" class="img-fluid radius-lg" alt="Leandro DaSilva" loading="lazy" />
                    </div>
                </div>
            </div>       
        </div>
    </div>
</section>




<section id="director" class="director padding-y-7 tablet-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-start">
            <div class="tablet-lg:grid-col-4 padding-top-4 padding-bottom-2 desktop:padding-y-0 tablet-lg:order-1 mobile:order-2 text-center">
                <div class="director__img">
                    <div class="director__img-container">
                        <img src="../assets/img/necie/genesis_de_la_cruz.jpg" class="img-fluid radius-lg" alt="Genesis De La Cruz" loading="lazy" />
                    </div>
                </div>
            </div>
            <div class="director__content tablet-lg:grid-col-7 desktop-lg:grid-col-7 widescreen:grid-col-7 tablet-lg:grid-offset-1 tablet-lg:order-2 mobile:order-1">
                <h2 class="font-sans-xs tablet-lg:font-sans-9 margin-top-0">Innovation Project Manager</h2>
                <h3 class="font-sans-9 tablet-lg:font-sans-12 margin-top-1">Genesis De La Cruz, MPA, MLS (ASCP)</h3>
                <p>
                    Genesis De La Cruz joined VA New England Healthcare System in 2008 as a Clinical Laboratory Scientist at the Providence VA Medical Center. In 2015, she transitioned her role to Quality Management, serving in several roles such as QM Data Analyst, QM Program Manager, and Systems Redesign Coordinator. Ms. De La Cruz holds a Bachelor of Science in Biology and Medical Technology and a Master of Public Administration from Kaplan University. She joined the NECIE team in 2024 as a member of VISN 1 Network Office, serving as an innovation project manager for VISN 1 Quality Manager Office.
                </p>
            </div>           
        </div>
    </div>
</section>


<section id="director" class="director padding-y-7 tablet-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-start">
            <div class="director__content tablet-lg:grid-col-7 desktop-lg:grid-col-7 widescreen:grid-col-7 tablet-lg tablet-lg:order-1 mobile:order-1">
                <h2 class="font-sans-xs tablet-lg:font-sans-9 margin-top-0">Innovation Project Manager</h2>
                <h3 class="font-sans-9 tablet-lg:font-sans-12 margin-top-1">Kindred Kern</h3>
                <p>
                    Kindred Kern joined VA New England Healthcare System in 2016 as a Technical Career Field Engineering Intern for VISN 1 Health Technology Management Department, and in 2018 became a staff Biomedical Engineer at the Manchester VAMC Health Technology Management Department. Ms. Kern holds a BS in Biomedical Engineering with an emphasis in Biomechanics from Marquette University in Milwaukee, Wisconsin. While at Marquette, Ms. Kern had a variety of experiences, such as interning with the FDA in Silver Spring, MD, and Winchester, MA, and researching telepresence robotics with the Medical College of Wisconsin. Wanting to rekindle her passion for innovative technology, in 2022 Ms. Kern joined VA New England Center for Innovation Excellence (NECIE) as an Innovation Project Manager.
                </p>
            </div>
            <div class="tablet-lg:grid-col-4 padding-top-4 padding-bottom-2 desktop:padding-y-0 tablet-lg:grid-offset-1 mobile:order-2 text-center">
                <div class="director__img">
                    <div class="director__img-container">
                        <img src="../assets/img/necie/kindred_kern.jpg" class="img-fluid radius-lg" alt="Kindred Kern" loading="lazy" />
                    </div>
                </div>
            </div>       
        </div>
    </div>
</section>
