@charset "UTF-8";
/* VETERANS CRISIS LINE styles */
.vcl-button {
    background: #8b0a03 url(/assets/uswds/img/usa-icons/chevron_right-white.svg) calc(100% - 0.3em) 0.5rem no-repeat;
    background-size: 1.5em auto;
    border-radius: 0 0 0.2em 0.2em;
    -webkit-box-shadow: 0 2px 5px #1b1b1b;
    box-shadow: 0 2px 5px #1b1b1b;
    padding: 0 26px 0.8em 10px;
    text-align: left;
    max-width: 26rem !important;
    position: absolute;
    top: 0rem;
    right: 0;
    font-size: .9rem;
}

a.vcl-button .vcl-logo {
    content: "";
    background: url(/assets/uswds/img/vcl-logo-white.svg) calc(100% + 0.2em) 0.4rem no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0.3em 0.5em -0.7em;
}

.vcl-modal {
    max-width: 55rem !important;
}

.vcl-modal__title {
    color: #1b1b1b;
    padding-left: 41px;
    background: url(/assets/uswds/img/vcl-logo.png) no-repeat 0;
    background-position-x: 0;
    background-position-y: center;
    background-size: auto auto;
    background-position: left 5px;
    background-size: 32px auto;
    font-size: 1.34rem !important;
}

.usa-prose li a {
    color: #1b1b1b;
    display: block;
    padding: 1rem 2.4rem;
    text-decoration: none;
}

.vcl-call {
    background: url(/assets/uswds/img/usa-icons/phone.svg) no-repeat 0;
    background-position-x: 0;
    background-position-y: center;
    background-size: auto auto;
    background-position: left 11px;
    background-size: 32px auto;
}

.vcl-text {
    background: url(/assets/uswds/img/material-icons/vcl-mobile.svg) no-repeat 0;
    background-position-x: 0;
    background-position-y: center;
    background-size: auto auto;
    background-position: left 11px;
    background-size: 32px auto;
}

.vcl-chat {
    background: url(/assets/uswds/img/material-icons/vcl-chat.svg) no-repeat 0;
    background-position-x: 0;
    background-position-y: center;
    background-size: auto auto;
    background-position: left 11px;
    background-size: 32px auto;
}

.vcl-tty {
    background: url(/assets/uswds/img/material-icons/tty.svg) no-repeat 0;
    background-position-x: 0;
    background-position-y: center;
    background-size: auto auto;
    background-position: left 11px;
    background-size: 32px auto;
}

#publication-list .usa-button--secondary {
    border: none !important;
    padding: 7px 12px 4px 12px;
    font-size: 11px;
    margin: 0 0 0 -4px;
    font-weight: 500;
    letter-spacing: .5px;
    border-radius: 2px;
}

#publication-list button:not([disabled]):focus, input:not([disabled]):focus, select:not([disabled]):focus, textarea:not([disabled]):focus {
    outline: none;
    outline-offset: 0;
}

#publication-list .col1 {
    padding-left: 1%;
    margin-top: 3.5%;
}

#publication-list .usa-searchbox__input {
    font-size: 12px;
    padding: 5px 120px 1px 6px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #publication-list .usa-searchbox__input {
        padding: 5px 20px 1px 6px;
    }
}

#publication-list .usa-checkbox__label {
    display: flex;
}

#publication-list .usa-checkbox__input[type="checkbox"] {
    accent-color: transparent !important;
}

#publication-list .jplist-selected[type="checkbox"]:checked {
    accent-color: red !important;
}

#publication-list .no-result-found {
    margin-top: 5%;
}

#publication-list input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
}

#publication-list input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-right: 8px;
}

#publication-list input[type="checkbox"]:checked {
    background-color: red;
    border: none;
}

#publication-list input[type="checkbox"]::before {
    width: 0.5em;
    height: 0.5em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    
    content: "";
    background-color: #fff;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

#publication-list input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: #fff;
}