@use "uswds-core" as *;

.usa-card__container {
    background-color: #{color("gray-90")};
}

.usa-card__img {
    background: none;
}

.usa-card__heading,
.usa-card__container {
    font-family: "Myriad-Pro", helvetica, arial, sans-serif;
}