      <!-- ADVANCED ANALYTICS - START -->
      <section id="advanced-analytics" class="advanced-analytics mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-align-center">
            <div class="desktop:grid-col-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1 text-center">
              <span class="h3 heading-subtitle">Data Driven Solutions</span>
              <h1 class="margin-top-0">Advanced Analytics</h1>
              <p>The Advanced Analytics team leverages big data, artificial intelligence, and statistical methods to develop analytic tools using electronic health records. The team's projects spans from improving patient outcomes to advancing preventive care, tackling complex health challenges such as female infertility, identifying and predicting inpatient falls, and understanding environmental impacts on Veteran health.</p>
            </div>
          </div>
          <div class="grid-row grid-gap margin-top-6 flex-align-stretch">
            <div class="tablet:grid-col-6 tablet-lg:grid-col-4 display-flex flex-align-stretch position-relative">
              <div class="usa-card">
                <div class="usa-card__container shadow-2">
                  <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                        <img src="../assets/img/ncchi/aa-data-extraction.png" class="radius-lg" alt="Loop implementation to extract data"/>
                    </div>                       
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading margin-0">Data Extraction</h2>
                  </div>
                  <div class="usa-card__body">
                    <p>Utilizing national databases to extract, transform, and integrate data aimed at enhancing the treatment and care provided to Veterans.</p>
                  </div>
                </div>
              </div>              
            </div>

            <div class="grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 display-flex flex-align-stretch position-relative">
              <div class="usa-card">
                <div class="usa-card__container shadow-2">
                  <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                        <img src="../assets/img/ncchi/aa-map.jpg" class="radius-lg"  alt="Map of US with showing HRI Slope Change by state and year."/>
                    </div>                       
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading margin-0">Statistical Analysis</h2>
                  </div>
                  <div class="usa-card__body">
                    <p>Applying advanced statistical analysis techniques to forecast patient outcomes, uncover subtle clinical trends, and explore environmental impacts on Veteran health.</p>
                  </div>
                </div>
              </div>              
            </div>
            
            <div class="grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 display-flex flex-align-stretch position-relative">
              <div class="usa-card">
                <div class="usa-card__container shadow-2">
                  <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                        <img src="../assets/img/ncchi/aa-llm-ai.webp" class="radius-lg"  alt="Animation showing how to leverage LLM and AI"/>
                    </div>                       
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading margin-0">LLM/AI</h2>
                  </div>
                  <div class="usa-card__body">
                    <p>Leveraging LLM and AI to extract relevant clinical data from unstructured clinical notes, anticipate adverse clinical events, and enhancing healthcare decision-making processes with actional insights.</p>
                  </div>
                </div>
              </div>              
            </div>              
                                  
          </div>          
        </div>
      </section>    
      <!-- ADVANCED ANALYTICS - END -->