<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation is translating complex technologies from the research bench to the clinical bedside.">
  <meta name="keywords" content="National Center for Collaborative Healthcare Innovation, NCCHI">
  <title>VHA - National Centers for Collaborative Healthcare Innovation</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="../assets/css/custom.css">

  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../assets/uswds/js/uswds-init.min.js"></script>

  <body class="ncchi-interior style-ncchi">

    <div class="site-wrapper">
    <div class="usa-overlay"></div>

    {% include "header-sub.html" %}

    <main>

      <!-- PAGE TITLE - START -->
      <section id="page-title" class="page-title mobile:padding-y-4 tablet:padding-y-8 desktop-lg:padding-top-8">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-row flex-align-center">
            <div class="tablet-lg:grid-col-6 page-title__logo">
              <img src="../assets/img/logo.svg" alt="National Center for Collaborative Healthcare Innovation logo image" />
            </div>
            <div class="tablet-lg:grid-col-6 page-title__content">
              <h1 class="tablet-lg:margin-0">Our Team</h1>
            </div>
          </div>
        </div>      
      </section>    
      <!-- PAGE TITLE - END -->
      
      <!-- PAGE TITLE - START -->
      <section id="bios-list" class="mobile:padding-y-4">
        <div class="grid-container tablet:padding-x-2 desktop:padding-x-15">
          <div class="grid-row grid-gap flex-row flex-align-center bios-list__item-container mobile:padding-top-4">

          </div>
        </div>      
      </section>
      <!-- PAGE TITLE - END -->      

    </main>

    {% include "footer-sub.html" %}
    
    <script src="../assets/uswds/js/uswds.min.js"></script>
    <script src="../assets/js/team-bios.js"></script>
    <script src="../assets/js/functions.js"></script>
  </body>
</html>