@use "uswds-core" as *;
.site-location-map .usa-card__container {
    background-color: #fff;
    border: none;
}

.map-gradient {
    background: rgb(234,118,38);
    background: radial-gradient(circle at 65% 35%, rgba(234,118,38,1) 10%, rgba(227,32,39,1) 35%, rgba(138,28,32,1) 100%);
}