<section id="drhci-mission">
    <div class="grid-container">
        <div class="grid-row flex-justify-center tablet:padding-y-7 tablet-lg:padding-y-15">
            <div class="mission-text grid-col-12 tablet-lg:grid-col-10">
                <h1 class="font-sans-9 tablet-lg:font-sans-12 margin-bottom-3 desktop:margin-bottom-5">Our Mission</h1>
                <p class="margin-top-0 margin-bottom-2">VA Ventures is a Medical Product Innovation Incubator that promotes early collaboration between VA, other federal agencies, academia, and industry. Our vision is to accelerate the deployment of breakthrough ideas and products that directly impact patient health.<br><br>

                    Our mission is to build the infrastructure necessary to bring prototyping and product development back within hospitals – where it belongs.</p>
            </div>
        </div>
    </div>
</section>
