<section id="drhci-connect" class="drhci-connect background-gradient">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center mobile:padding-y-8 tablet:padding-y-10">
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 tablet-lg:grid-offset-1">
                <h1 class="margin-top-0 margin-bottom-2 tablet:grid-col-8 tablet-lg:grid-col-12">Let's Shape the Future Together</h1>
                <p class="margin-top-0 margin-bottom-4">VA Ventures is a multidisciplinary team of engineers, clinicians, technicians, and IT experts who are passionate about innovating Veteran care. The center boasts an 80,000 sq. ft. facility that houses capabilities ranging from cGMP FDA registered medical device manufacturing, polymer 3D printing, a maker space, laboratory and product testing, warehouse, operating room test bed for medical device innovations (OR2050), and offices and conference rooms for collaborators.<br><br>
                We're eager to hear your thoughts, answer your inquiries, and explore collaborative opportunities. Reach out to us today, and let’s embark on a journey of innovation and impact to revolutionize Veteran care.</p>
            </div>
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3 tablet-lg:grid-offset-2">
           
                <a href="mailto:venturesblueteam@va.gov" class="usa-button usa-button--outline test usa-button--outline-inverse usa-button-2" title="Connect Now">Connect with VA Ventures</a>

            </div>
        </div>
    </div>
</section>


