<section id="drhci-mission">
    <div class="grid-container">
        <div class="grid-row flex-justify-center tablet:padding-y-7 tablet-lg:padding-y-15">
            <div class="mission-text grid-col-12 tablet-lg:grid-col-10">
                <h1 class="font-sans-9 tablet-lg:font-sans-12 margin-bottom-3 desktop:margin-bottom-5">Our Mission</h1>
                <p class="margin-top-0 margin-bottom-2">IDEAS Center for Innovation invests in frontline employees, cultivates creative problem-solving, and collaborates with industry and academia to discover, design, and develop novel health care solutions for Veterans. Harnessing the expertise of our clinical workforce, we nurture progress across all areas of Veterans health care while developing specialty interventions for Spinal Cord Injury and Disorders (SCI&D), Physical Medicine and Rehabilitation (PM&R), perioperative and periprocedural care.</p>
            </div>
        </div>
    </div>
</section>
