<section id="director" class="director padding-y-7 tablet-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-start">
            <div class="director__content tablet-lg:grid-col-7 desktop-lg:grid-col-7 widescreen:grid-col-7 tablet-lg tablet-lg:order-1 mobile:order-1">
                <h2 class="font-sans-xs tablet-lg:font-sans-9 margin-top-0">Director of IDEAS Center for Innovation</h2>
                <h3 class="font-sans-9 tablet-lg:font-sans-12 margin-top-1">Kathryn Beckner, MS, OTR/L</h3>
                <p>
                    Kathryn Beckner, MS, OTR/L, serves as Director for the IDEAS Center for Innovation within the Central Virginia VA Health Care System. She is committed to fostering an innovative culture that empowers VA employees to identify problems and incorporate the Veteran's voice when shaping the future of health care delivery. Beckner's passion centers on supporting frontline staff and multidisciplinary teams in operationalizing innovations and implementing them into clinical practice.
                </p>
                <p>
                    Previously, Beckner acted as the Deputy Director of the IDEAS Center for Innovation and Innovation Specialist for the VHA Innovators Network at her facility. In this role, she led a team from multiple VA sites in collaborating with an industry partner to co-develop a novel rehabilitation technology. Under her guidance, this innovation advanced rapidly from a paper concept to a commercialized product now utilized at VAs nationwide within two years.
                </p>
                <p>
                    An occupational therapist by training, Beckner provided clinical care as a Spinal Cord Injury Specialist at the Central Virginia VA Health Care System from 2011-2020. In 2018, she was appointed Clinical Faculty at Virginia Commonwealth University's Department of Occupational Therapy and serves on their Admissions Committee. She has participated in numerous professional engagements as a speaker and panelist, contributed to a text book chapter, and presented at conferences in the field. Beckner's contributions earned her recognition as the 2021 VHA Innovators Network Innovation Specialist of the Year.
                </p>
            </div>
            <div class="tablet-lg:grid-col-4 padding-top-4 padding-bottom-2 desktop:padding-y-0 tablet-lg:grid-offset-1 mobile:order-2 text-center">
                <div class="director__img">
                    <div class="director__img-container">
                        <img src="../assets/img/ideas/kathryn-beckner.jpg" class="img-fluid radius-lg" alt="Headshot of Lindsay Reigler" loading="lazy" />
                    </div>
                </div>
            </div>       
        </div>
    </div>
</section>




<section id="director" class="director padding-y-7 tablet-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-start">
            <div class="tablet-lg:grid-col-4 padding-top-4 padding-bottom-2 desktop:padding-y-0 tablet-lg:order-1 mobile:order-2 text-center">
                <div class="director__img">
                    <div class="director__img-container">
                        <img src="../assets/img/ideas/stefan-ianchulev.jpg" class="img-fluid radius-lg" alt="Headshot of Lindsay Reigler" loading="lazy" />
                    </div>
                </div>
            </div>
            <div class="director__content tablet-lg:grid-col-7 desktop-lg:grid-col-7 widescreen:grid-col-7 tablet-lg:grid-offset-1 tablet-lg:order-2 mobile:order-1">
                <h2 class="font-sans-xs tablet-lg:font-sans-9 margin-top-0">Medical Director of IDEAS Center for Innovation</h2>
                <h3 class="font-sans-9 tablet-lg:font-sans-12 margin-top-1">Stefan Ianchulev, MD, FASA</h3>
                <p>
                    Stefan Ianchulev, MD, FASA is a leader in patient safety, quality improvement, and health care innovation at the Central Virginia VA Health Care System. He serves as the Chief of Anesthesiology, Medical Director of IDEAS Center for Innovation, and VISN 6 Lead Anesthesiologist, focused on enhancing perioperative care for Veterans. Dr. Ianchulev also holds faculty appointments at Virginia Commonwealth University at the rank of Professor of Anesthesiology. His work aims to train future professionals in delivering outstanding care in the perioperative setting, utilizing innovative approaches in implementing quality and safety initiatives to improve patient care. His efforts include providing opportunities for socially vulnerable youth and adults within the health care environment.
                </p>
                <p>
                    With over 20 years of experience in cardiothoracic anesthesiology and education, Dr. Ianchulev has worked to establish pathways to high-reliability systems and interdisciplinary collaborations to improve surgical outcomes. His efforts include developing quality assessment tools utilizing data analytics, strategies to reduce opioid use, and expanding comprehensive perioperative services. Dr. Ianchulev has served on the SCA Quality and Safety Leadership Committee and the ASA Committee on Cardiovascular and Thoracic Anesthesia. He is committed to advancing the skills of future health care workers, providing opportunities for everyone.
                </p>
                <p>
                    Dr. Ianchulev has published research in peer-reviewed journals and presented at national conferences. He has also contributed chapters to anesthesiology books. His innovative approach to health care is further evidenced by his success in securing VA innovation grants to develop augmented reality applications and leverage data mining in the VA anesthesia records system to drive improvements. His efforts include developing wide reaching application in collaboration with industry leaders in the world of machine learning and AI to tackle everyday problems contributing to practitioner burnout and improve patient satisfaction with the health care system.
                </p>
            </div>           
        </div>
    </div>
</section>



