      <!-- DIGITAL VA EXPO - START -->
      <section id="wearable-technology" class="mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12 text-center">
              <h1 class="margin-top-0">Digital VA Expo</h1>
            </div>
          </div>
          <div class="grid-row grid-gap flex-align-stretch">
            <div class="tablet:grid-col-6 tablet-lg:grid-col-4 display-flex flex-align-stretch position-relative">
              <div class="usa-card">
                <div class="usa-card__container shadow-2">
                  <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                      <div class="vha-video">
                        <a href="https://www.youtube.com/watch?v=WZ1aCCGeMBs" class="vha-video__play vha-video__play-action stretched-link">
                            <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                                <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                            </svg>
                        </a>
                        <div class="vha-video__poster">
                          <img src="assets/img/home/poster-our-mission-and-opportunity.jpg" class="radius-lg"  alt=""/>
                        </div>
                      </div>
                    </div>                       
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading margin-0">Our Mission and Opportunity</h2>
                  </div>
                </div>
              </div>              
            </div>

            <div class="grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 display-flex flex-align-stretch position-relative">
              <div class="usa-card">
                <div class="usa-card__container shadow-2">
                  <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                      <div class="vha-video">
                        <a href="https://www.youtube.com/watch?v=-vz7k-fg6uM" class="vha-video__play vha-video__play-action stretched-link">
                            <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                                <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                            </svg>
                        </a>
                        <div class="vha-video__poster">
                          <img src="assets/img/home/poster-our-purpose-and-why-va.jpg" class="radius-lg"  alt="Poster image of the Our Purpose and Why VA presentation"/>
                        </div>
                      </div>
                    </div>                       
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading margin-0">Our Purpose and Why VA</h2>
                  </div>
                </div>
              </div>              
            </div>
            
            <div class="grid-col-12 tablet:grid-col-6 tablet-lg:grid-col-4 display-flex flex-align-stretch position-relative">
              <div class="usa-card">
                <div class="usa-card__container shadow-2">
                  <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                      <div class="vha-video">
                        <a href="https://www.youtube.com/watch?v=FJ_bs6E9awY" class="vha-video__play vha-video__play-action stretched-link">
                            <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                                <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                            </svg>
                        </a>
                        <div class="vha-video__poster">
                          <img src="assets/img/home/poster-our-strategic-advantage.jpg" class="radius-lg"  alt=""/>
                        </div>
                      </div>
                    </div>                       
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading margin-0">Our Strategic Advantage</h2>
                  </div>
                </div>
              </div>              
            </div>              
                                  
          </div>
        </div>
      </section>
      <!-- DIGITAL VA EXPO - END -->