<!-- Featured Successes - START -->
<section class="featured-successes mobile:padding-bottom-10 mobile:padding-top-4 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="featured-successes__content tablet-lg:grid-col-5 tablet-lg:grid-offset-1">
                <h2 class="margin-bottom-1">Featured Successes</h2>
                <h3 class="margin-y-0">Augmented Reality and 5G</h3>
                <p class="font-body">Project Convergence brings "science fiction to life" through its cutting-edge 5G and augmented reality program. NCCHI has created one of the first 5G-enabled hospitals in the world at our home base at VA Palo Alto Healthcare System. This partnership brings cutting-edge wireless health care solutions, including augmented reality for clinical training, presurgical planning and operative guidance. The partnership includes innovative wireless health care solutions, including 5G wireless connectivity from Verizon, clinical augmented reality software from Medivis, and HoloLens 2 headsets from Microsoft.</p>
            </div>
            <div class="tablet-lg:grid-col-5 desktop-lg:grid-col-5 widescreen:grid-col-5 mobile:padding-top-5 desktop:padding-top-0">
                <div class="featured-successes__img">
                    <div class="featured-successes__img-container">
                        <img src="assets/img/home/5g-tower.png" class="img-fluid radius-lg" alt="5G cell tower" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Successes - END -->