<!-- MASTHEAD - START -->
<section id="masthead" class="masthead mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10">
        <div class="grid-row grid-gap flex-align-center">
            <div class="tablet-lg:grid-col-6">
                <img src="/assets/img/logo.svg" alt="National Center for Collaborative Healthcare Innovation logo image" />
                <p class="font-body-lg">Collaborating Across Industries to Improve Veteran Healthcare</p>
                <a href="#mission-statement" class="usa-button usa-button--secondary">Learn more</a>
            </div>
        </div>
    </div>
    <div class="masthead__bg-video-container">
        <div class="masthead__bg-fade bg-1"></div>
        <div class="masthead__bg-fade bg-2"></div>
        <video class="masthead__bg-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
            <source src="/assets/video/masthead-video-bg.mp4" type="video/mp4">
        </video>
    </div>
</section>
<!-- MASTHEAD - END -->