      <!-- MISSION STATEMENT - START -->
      <section id="mission-statement" class="mission-statement mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-align-center">
            <div class="tablet-lg:grid-col-6 mobile:margin-bottom-4 tablet:margin-bottom-6">
              <img src="assets/img/home/mission-statement-2x.jpg" class="img-fluid radius-lg" alt="Medical professionals working with AR to visualize the human heart, lungs, and blood vessels" />
            </div>
            <div class="tablet-lg:grid-col-6 desktop-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1">
              <span class="h3 heading-subtitle">NCCHI</span>
              <h1 class="margin-top-0">Our Mission</h1>
              <p>Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation (NCCHI) collaborates broadly with industry partners, other government agencies, academia, and throughout VA to create a far-reaching positive impact on Veteran care. NCCHI is translating complex technologies from the research bench to the clinical bedside.</p>
              <p>NCCHI is driven to bring our Veterans the best and most advanced healthcare possible. With groundbreaking collaborative partnerships and cutting-edge technology, NCCHI focuses on enhancing healthcare delivery at VA and in the broader healthcare community.</p>
            </div>
          </div>
        </div>
        <div class="svg-container svg-blur-1" data-parallax='{"y": 400 }'>
          <svg viewBox="0 0 1688 1796" fill="none" preserveAspectRatio="xMidYMax meet">
            <g filter="url(#a)">
                <path fill="#FF1F1F" fill-opacity=".3" d="m1072.41 506 217.789 217.789-565.686 565.685-217.788-217.789z"/>
            </g>
            <g filter="url(#b)">
                <path fill="#FF1F1F" fill-opacity=".27" d="m877.5 844.777 73.92 73.92-411.5 411.5-73.92-73.92z"/>
            </g>
            <defs>
                <filter id="a" x=".723" y="0" width="1795.47" height="1795.47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="253" result="effect1_foregroundBlur_83_568"/>
                </filter>
                <filter id="b" x="348" y="726.777" width="721.42" height="721.42" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="59" result="effect1_foregroundBlur_83_568"/>
                </filter>
            </defs>
          </svg>
        </div>        
      </section>    
      <!-- MISSION STATEMENT - END -->