<section id="our-mission" class="our-mission padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="mission-text grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <h1 class="margin-top-0 margin-bottom-5">Our Mission</h1>
                <p class="margin-top-0 margin-bottom-2">National Centers for Innovation to Impact (NCI2I) fosters collaboration between partners and select VA Medical Centers to address VHA's most pressing health care challenges. While each Center is designed to have a unique "sweet spot," the tie that binds these Centers together is the collective objective to bridge VHA strategic priorities with frontline solutions that are transformational, scalable, and responsive to Veterans' needs. This vision can only be realized through frontline-lead incubation, co-development, and testing of solutions with Veterans themselves and support from a diverse cadre of internal and external partners from academia, industry, nonprofits, and other government agencies. These partners can serve as force multipliers and will help build both the culture and capacity for innovation across VHA.</p>
            </div>
        </div>
    </div>
</section>