<section id="our-mission" class="our-mission padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="mission-text grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <h2 class="margin-top-0 margin-bottom-5 h1">Our Mission</h2>
                <p class="margin-top-0 margin-bottom-2">The National Centers for Innovation to Impact (NCi2I) foster collaboration between internal and external problem-solvers and select VA Medical Centers, serving as the cornerstone of a strategic alliance aimed at confronting the VHA's most critical health care challenges. With each center focusing on a distinct domain of expertise, their unified mission is to integrate the VHA's key priorities with transformative, scalable solutions that cater to the needs of Veterans and VHA staff. NCi2I brings this vision to life through a deliberate process of discover, test, replicate, scale. In partnership with Veterans, VA employees, academia, industry, non-profits, and government, NCi2I aims to serve as a convener for all those seeking to tackle the trickiest, most pervasive issues across the VA healthcare landscape.</p>
            </div>
        </div>
    </div>
</section>