<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="The National Center for Innovation 2 Impact Digital and Remote Health Center">
  <meta name="keywords" content="Revolutionizing Health Care Beyond Boundaries">
  <title>VHA - Digital and Remote Health Center</title>  

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body id="drhci-body">

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      
      {% include "dark-header-sub.html" %}
      
        <main>
            {% include "drhci/1_masthead.html" %}

            {% include "drhci/2_mission.html" %}
          
            {% include "drhci/3_news.html" %}

            {% include "drhci/4_director.html" %}

            {% include "drhci/5_connect.html" %}
        </main>

      {% include "dark-footer-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../assets/uswds/js/uswds.min.js"></script>
    <script src="../assets/js/functions.js"></script>

</body>
</html>