#nci2i-body { 
     #nci2i-connect {
          background: linear-gradient(90deg, #D64424 0%, #850E23 100%); 
          color: #fff;

          .usa-button {
               width: auto;
          }
     }
}