<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation is translating complex technologies from the research bench to the clinical bedside.">
  <meta name="keywords" content="National Center for Collaborative Healthcare Innovation, NCCHI">
  <title>VHA - National Centers for Collaborative Healthcare Innovation</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="/assets/uswds/js/uswds-init.min.js"></script>

  <body class="ncchi-interior style-ncchi">

    {% include "header.html" %}

    <main>

      <!-- PAGE TITLE - START -->
      <section id="page-title" class="mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-align-center">
            <div class="tablet-lg:grid-col-6">
              <img src="/assets/img/mission-statement@2x.jpg" class="img-fluid radius-lg" alt="Medical professionals working with AR to visualize the human heart, lungs, and blood vessels" />
            </div>
            <div class="tablet-lg:grid-col-6">
              <h1>Our Publications</h1>
            </div>
          </div>
        </div>      
      </section>    
      <!-- PAGE TITLE - END -->

    </main>

    {% include "footer.html" %}

    <script src="/assets/uswds/js/uswds.min.js"></script>
    <script src="/assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/vendors/parallax-scroll/jquery.parallax-scroll.js"></script>
    <script src="/assets/js/functions.js"></script>
  </body>
</html>