<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation is translating complex technologies from the research bench to the clinical bedside.">
  <meta name="keywords" content="National Center for Collaborative Healthcare Innovation, NCCHI">
  <title>VHA - National Centers for Collaborative Healthcare Innovation</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="/assets/uswds/js/uswds-init.min.js"></script>

  <body class="ncchi-interior style-ncchi">

    {% include "header.html" %}

    <main>

      <!-- PAGE TITLE - START -->
      <section id="page-title" class="page-title mobile:padding-y-4 tablet:padding-y-6 desktop-lg:padding-y-8">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-row flex-align-center">
            <div class="tablet-lg:grid-col-6 page-title__logo">
              <img src="/assets/img/logo.svg" alt="National Center for Collaborative Healthcare Innovation logo image" />
            </div>
            <div class="tablet-lg:grid-col-6 page-title__content">
              <h1 class="tablet-lg:margin-0">Our Publications</h1>
            </div>
          </div>
        </div>      
      </section>    
      <!-- PAGE TITLE - END -->

      <!-- PAGE TITLE - START -->
      <section id="publication-list" class="publication-list mobile:padding-y-4 tablet:padding-y-6 desktop-lg:padding-y-8">
        <div class="grid-container">
          <div class="grid-col-12">

            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title">Effectiveness of COVID-19 treatment with nirmatrelvir-ritonavir or molnupiravir among U.S. Veterans: target trial emulation studies with one-month and six-month outcomes.</span>
              <span class="item__authors">Bajema KL, Berry K, Streja E, Rajeevan N, [...] Osborne TF, Viglianti EM, Aslan M, Huang GD, Ioannou GN.</span>
              <span class="item__publication">Annals of Internal Medicine.</span>
              <span class="item__url">DOI: <a href="https://doi.org/10.7326/M22-3565">https://doi.org/10.7326/M22-3565</a></span>
            </div>

            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title">Adverse outcomes of SARS-CoV-2 infection with Delta and Omicron variants in vaccinated versus unvaccinated persons: An observational cohort study. </span>
              <span class="item__authors">Amy Bohnert; Kyle Kumbier; Mazhgan Rowneki; Ashwin Gupta; Kristina Bajema; Denise M Hynes; Elizabeth Viglianti; Ann M O'Hare; Thomas Osborne; Edward J Boyko et al.</span>
              <span class="item__publication">March. 23, 2023. Part of ISSN: 1756-183. </span>
              <span class="item__url">DOI: <a href="https://doi.org/10.1136/bmj-2022-074521">https://doi.org/10.1136/bmj-2022-074521</a></span>
            </div>

            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title">The Impact of Virtual Reality on the Patients and Providers Experience in Wide-Awake, Local-Only Hand Surgery.</span>
              <span class="item__authors">McCullough M, Osborne TF, Rawlins C, Reitz RJ, Fox PM, Curtin C. </span>
              <span class="item__publication">Journal of Hand Surgery Global Online. March 26, 2023. Part of ISSN: 2589-5141.</span>
              <span class="item__url">DOI: <a href="https://doi.org/10.1016/j.jhsg.2023.01.014">https://doi.org/10.1016/j.jhsg.2023.01.014.</a></span>
            </div>

            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title">Augmented Reality Demonstration Survey Results From a Veteran Affairs Medical Center.</span>
              <span class="item__authors">Osborne TF, Arreola DM, Veigulis ZP, Morley C, Choudhry O, Lan W, Teague KR, Vega R, Mahajan SM. </span>
              <span class="item__publication">Federal Practitioner. March 20, 2023</span>
              <span class="item__url">DOI: <a href="https://pubmed.ncbi.nlm.nih.gov/37228426/">10.12788/fp.0364</a></span>
            </div>

            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title">Rates of and factors associated with primary and booster COVID-19 vaccine receipt by U.S. Veterans, December 2020 to June 2022.</span>
              <span class="item__authors">Bajema KL, Rowneki M, Berry K, Osborne TF, Bohnert A, O’Hare AM, Boyko EJ, Maciejewski ML, Bowling CB, Viglianti EM, Iwashyna TJ, Hynes DM, Ioannou GN.</span>
              <span class="item__publication">JAMA Network Open. Feb 2, 2023. Part of ISSN: 2574-3805.</span>
              <span class="item__url">DOI:  <a href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2800897"> 10.1001/jamanetworkopen.2022.54387</a></span>
            </div>

            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title"></span>
              <span class="item__authors"></span>
              <span class="item__publication"></span>
              <span class="item__url">DOI: <a href=""></a></span>
            </div>

            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title"></span>
              <span class="item__authors"></span>
              <span class="item__publication"></span>
              <span class="item__url">DOI: <a href=""></a></span>
            </div>
            
            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title"></span>
              <span class="item__authors"></span>
              <span class="item__publication"></span>
              <span class="item__url">DOI: <a href=""></a></span>
            </div>            


            <div class="publication-list__item tablet:padding-y-4 desktop-lg:padding-y-6">
              <span class="item__title"></span>
              <span class="item__authors"></span>
              <span class="item__publication"></span>
              <span class="item__url">DOI: <a href=""></a></span>
            </div>

          </div>
        </div>      
      </section>
      <!-- PAGE TITLE - END -->      

    </main>

    {% include "footer.html" %}

    <script src="/assets/uswds/js/uswds.min.js"></script>
    <script src="/assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/vendors/parallax-scroll/jquery.parallax-scroll.js"></script>
    <script src="/assets/js/functions.js"></script>
  </body>
</html>